section {
    display: flex;
    height: 0;
    background-color: rgb(20,29,47);
    color: white;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    overflow-x: hidden !important;
}