<section id="aboutMe">
    <div class="textContainer">
        <h2>About me</h2>
        <p>Hi, I'm a german speaking Frontend Developer based near Basel. Motivated by the limitless oportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.</p>
        <div>
            <img src="../../assets/icons/location.svg" alt="Location">
            <p>Flexible in terms of working environments, I can work effectively both on-site in Bad Säckingen and remotely. I am open to moving to another location also. </p>
        </div>
        <div>
            <img src="../../assets/icons/light_bulb.svg" alt="Light bulb">
            <p>I am passionate about technology and I am always looking for new challenges to improve my knowledge and skills.</p>
        </div>
        <div>
            <img src="../../assets/icons/puzzle.svg" alt="Puzzle">
            <p>In my profession, programming isn't just about writing code; it's a creative form of problem solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solution. This way, I help you achieve your goals and bring your visions to life.</p>
        </div>
    </div>
    <div class="profileImageContainer">
        <div class="profileImage"><img src="../../assets/img/file_new.png" alt="Profile picture"></div>
        <div class="line"></div>
    </div>
</section>
