section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.purpleShadowAboutMe {
  position: absolute;
  width: 100%;
  height: 100svh;
  right: -55%;
  top: 89svh;
  z-index: 8;
}

.greenShadowMySkills {
  position: absolute;
  width: 100%;
  height: 100svh;
  top: 230svh;
  left: -57%;
}

.purpleShadowPortfolio {
  position: absolute;
  width: 100%;
  height: 180svh;
  left: -60%;
  top: 300svh;
  z-index: 1;
}

.greenShadow {
  position: absolute;
  width: 100%;
  height: 100svh;
  right: -55%;
  top: 415svh;
  rotate: 100deg;
}

.purpleShadow {
  position: absolute;
  width: 100%;
  height: 85svh;
  left: -42%;
  top: 465svh;
  z-index: 1;
}

@media (min-width: 1600px) {
  .purpleShadow {
    top: 470svh;
  }

  .greenShadow {
    top: 400svh;
  }
}

@media (min-width: 2400px) {
  .purpleShadowAboutMe {
    top: 60svh;
  }

  .greenShadowMySkills {
    top: 170svh;
  }

  .purpleShadowPortfolio {
    top: 200svh;
  }

  .greenShadow {
    top: 280svh;
  }

  .purpleShadow {
    top: 360svh;
  }
}

@media (min-width: 3000px) {
  .purpleShadowAboutMe {
    top: 50svh;
  }

  .greenShadowMySkills {
    top: 110svh;
  }

  .purpleShadowPortfolio {
    top: 135svh;
  }

  .greenShadow {
    top: 200svh;
  }

  .purpleShadow {
    top: 280svh;
  }
}

@media (max-width: 1600px) {
  .greenShadow {
    top: 380svh;
  }
}

@media (max-width: 1100px) {
  .purpleShadowAboutMe {
    top: 80svh;
    right: -65%;
  }

  .greenShadowMySkills {
    top: 200svh;
    left: -60%;
  }

  .purpleShadowPortfolio {
    top: 250svh;
    left: -65%;
  }

  .greenShadow {  
    top: 400svh;
    right: -65%;  
  }

  .purpleShadow {
    top: 620svh;
    left: -55%;
  }
}

@media (max-width: 800px) {
  .purpleShadowAboutMe {
    display: none;
  }

  .greenShadow {
    display: none;
  }
}

@media (max-width: 500px) {
  .purpleShadow {
    top: 640svh;
  }

  .greenShadowMySkills {
    left: -70%;
  }
}

@media (max-width: 420px) {
  .purpleShadow {
    top: 690svh;
  }
}

@media (max-width: 380px) {
  .purpleShadow {
    top: 730svh;
  }
}
