<img
  src="../../assets/img/purple_shadow_about_me.svg"
  alt="Purple shadow"
  class="purpleShadowAboutMe"
/>
<img
  src="../../assets/img/green_shadow_skills_portfolio.svg"
  alt="Green shadow in the background"
  class="greenShadowMySkills"
/>
<img
    src="../../assets/img/purple_shadow_portfolio.svg"
    alt="Purple shadow"
    class="purpleShadowPortfolio"
  />
<img
  src="../../../assets/img/purple_shadow_footer.svg"
  alt="Purple shadow"
  class="purpleShadow"
/>
<img
  src="../../assets/img/green_shadow_3.svg"
  alt="Green shadow"
  class="greenShadow"
/>
