<header>
  <a
    href="#landingPage"
    class="logo"
    (click)="responsiveMenuOpen ? closeMenu() : null"
    ><img src="../../../assets/logo/robin_curly_bracket.png" alt="Logo"
  /></a>
  <div class="language"><span id="languageEn" (click)="changeLanguage('en')" class="active">en</span>|<span id="languageDe" (click)="changeLanguage('de')">de</span></div>
  <div class="responsiveMenuOpen" (click)="toggleMenu()">
    <img
      id="closeIcon"
      src="../../../assets/icons/closed_menu.svg"
      alt="Open menu"
    />
  </div>

  <nav class="">
    <div class="container-fluid">
      <a href="#aboutMe">{{getCurrentText('aboutMe')}}</a>
      <a href="#mySkills">{{getCurrentText('skills')}}</a>
      <a href="#projects">Portfolio</a>
    </div>
  </nav>
</header>
<div class="responsiveMenu d-none" id="responsiveMenu">
  <div class="responsiveMenuLogo">
    <a href="#landingPage" (click)="closeMenu()"
      ><img
        src="../../../assets/logo/robin_curly_bracket.png"
        alt="Logo"
        class="logoResponsive"
        id="logoResponsive"
    /></a>
  </div>
  <div class="responsiveMenuLinks">
    <a href="#aboutMe" (click)="closeMenu()">About me</a>
    <a href="#mySkills" (click)="closeMenu()">My skills</a>
    <a href="#projects" (click)="closeMenu()">Portfolio</a>
    <a href="#contact" (click)="closeMenu()">Contact</a>
  </div>
</div>
