header {
  background-color: rgb(20, 29, 47);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12svh;
  min-height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  > div {
    display: flex;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    justify-content: space-between;
  }

  nav {
    padding-right: 50px;
    a {
      color: white;
      font-size: 20px;
      margin: 0 10px;
      text-decoration: none;
      &:hover {
        color: #70e61c;
      }
    }
  }

  img {
    height: 50px;
    margin: 0 50px;
    align-self: center;
  }
}

.language {
  margin-left: -40px;
  width: 55px;
  display: flex;
  justify-content: space-between;

  > span {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
      color: #70e61c;
    }
  }
}

.active {
  color: #70e61c;
}

.d-none {
  display: none !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsiveMenuOpen {
  display: none;
}

.responsiveMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: rgba(20, 29, 47, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 35px;
  z-index: 101;

  img {
    height: 38px;
    margin: 0 20px;
    align-self: center;
    margin-left: -170px;
    padding-bottom: 100px;
  }
}

.responsiveMenuLinks {
    margin-top: 100px;
}

.responsiveMenuLogo {
  display: flex;
  height: 100px;
}

.slideInResponsive {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%); /* Menü außerhalb des Bildschirms (rechts) */
  }

  100% {
    transform: translateX(0); /* Menü im Bildschirm (links) */
  }
}

.slideOutResponsive {
  animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(0); /* Menü im Bildschirm (links) */
  }

  100% {
    transform: translateX(100%); /* Menü außerhalb des Bildschirms (rechts) */
  }
}

.responsiveMenuLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    color: white;
    font-size: 25px;
    margin: 20px 0;
    text-decoration: none;
    &:hover {
      color: #70e61c;
    }
  }
}

@media (max-width: 600px) {
  header {
    img {
      height: 38px;
      margin: 0 20px;
    }

    nav {
      padding-right: 20px;

      a {
        margin: 0 8px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 530px) {
  header {
    align-items: center;
  }

  nav {
    display: none;
  }

  .responsiveMenu {
    img {
      margin-top: 0px;
      margin-left: -220px;
    }
  }

  .responsiveMenuOpen {
    display: block;
    padding-right: 20px;
    img {
      height: 25px;
      margin: 0px 10px;
      margin-top: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 450px) {
  header {
    min-height: 60px;
  }

  .responsiveMenu {
    img {
      margin-top: 0px;
      margin-left: -170px;
    }
  }
}

@media (max-width: 450px) and (max-height: 1000px) {
  .responsiveMenu {
    img {
      margin-left: -200px;
    }
  }
}

@media (max-width: 450px) and (max-height: 900px) {
  .responsiveMenu {
    img {
      margin-left: -180px;
    }
  }
}

@media (max-width: 400px) {
  .responsiveMenu {
    img {
      margin-top: -2px;
      margin-left: -170px;
    }
  }
}

@media (max-width: 400px) and (max-height: 850px) {
  .responsiveMenu {
    img {
      margin-top: -2px;
      margin-left: -180px;
    }
  }
}

@media (max-width: 400px) and (max-height: 800px) {
  .responsiveMenu {
    img {
      margin-top: -12px;
      margin-left: -165px;
    }
  }
}

@media (max-width: 350px) {
  .responsiveMenu {
    img {
      margin-left: -150px;
    }
  }
}


