<header>
  <div>
    <a
      [routerLink]="['/']"
      [fragment]="'landingPage'"
      class="logo"
      (click)="handleScroll('landingPage')"
      (click)="responsiveMenuOpen ? closeMenu() : null"
      ><img src="../../../assets/logo/robin_curly_bracket.png" alt="Logo"
    /></a>
    <div class="language">
      <span
        id="languageEn"
        (click)="changeLanguage('en')"
        [ngClass]="{ active: checkLanguage() === 'en' }"
        >en</span
      >|<span
        id="languageDe"
        (click)="changeLanguage('de')"
        [ngClass]="{ active: checkLanguage() === 'de' }"
        >de</span
      >
    </div>
    <div class="responsiveMenuOpen" (click)="toggleMenu()">
      <img
        id="closeIcon"
        src="../../../assets/icons/closed_menu.svg"
        alt="Open menu"
      />
    </div>

    <nav class="">
      <div class="container-fluid">
        <a
          [routerLink]="['/']"
          [fragment]="'aboutMe'"
          (click)="handleScroll('aboutMe')"
          >{{ getCurrentText("aboutMe") }}</a
        >
        <a
          [routerLink]="['/']"
          [fragment]="'mySkills'"
          (click)="handleScroll('mySkills')"
          >{{ getCurrentText("skills") }}</a
        >
        <a
          [routerLink]="['/']"
          [fragment]="'projects'"
          (click)="handleScroll('projects')"
          >Portfolio</a
        >
      </div>
    </nav>
  </div>
</header>
<div class="responsiveMenu d-none" id="responsiveMenu">
  <div class="responsiveMenuLogo">
    <a [routerLink]="['/']" [fragment]="'landingPage'" (click)="closeMenu()"
      ><img
        src="../../../assets/logo/robin_curly_bracket.png"
        alt="Logo"
        class="logoResponsive"
        id="logoResponsive"
    /></a>
  </div>
  <div class="responsiveMenuLinks">
    <a
      [routerLink]="['/']"
      [fragment]="'aboutMe'"
      (click)="closeMenu(); handleScroll('aboutMe')"
      >{{ getCurrentText("aboutMe") }}</a
    >

    <a
      [routerLink]="['/']"
      [fragment]="'mySkills'"
      (click)="closeMenu(); handleScroll('mySkills')"
      >{{ getCurrentText("skills") }}</a
    >

    <a
      [routerLink]="['/']"
      [fragment]="'projects'"
      (click)="closeMenu(); handleScroll('projects')"
      >Portfolio</a
    >

    <a
      [routerLink]="['/']"
      [fragment]="'contact'"
      (click)="closeMenu(); handleScroll('contact')"
      >{{ getCurrentText("contact") }}</a
    >
  </div>
</div>
