<section id="projects">
  <img
    src="../../assets/img/purple_shadow_portfolio.svg"
    alt="Purple shadow"
    class="purpleShadowPortfolio"
  />
  <div class="heading">
    <div class="headline">
      <div class="lineOne"></div>
      <h2>Portfolio</h2>
      <div class="lineTwo"></div>
    </div>
    <span>Explore a selection of my work here - Interact with projects to see my skills in action.</span>
  </div>
  <div class="projectsContainer">
    <div class="project">
      <div class="projectText">
        <h4>Join</h4>
        <h5>JavaScript | HTML | CSS | Firebase</h5>
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
        <div class="buttonContainer">
          <a
            href="https://robin-gerth.developerakademie.net/Join/login.html"
            class="liveTest" target="_blank"
            >Live test</a
          >
          <a href="https://github.com/Gerth123/Join" class="github" target="_blank">Github</a>
        </div>
      </div>
      <img src="../../assets/img/imac_join.png" alt="" />
    </div>
    <div class="projectEven">
      <div class="projectTextEven">
        <h4>El pollo loco</h4>
        <h5>JavaScript | HTML | CSS</h5>
        <p>
          A simple Jump-and-Run game based on an object-oriented approach. Help
          pepe to collect bottles and coins, while defeating chickens and the
          big chicken at the end.
        </p>
        <div class="buttonContainer">
          <a
            href="https://robin-gerth.developerakademie.net/El%20Pollo%20Loco/index.html"
            class="liveTest" target="_blank"
            >Live test</a
          >
          <a href="https://github.com/Gerth123/El-Pollo-Loco" class="github" target="_blank">Github</a>
        </div>
      </div>
      <img src="../../assets/img/el_pollo_loco_laptop.svg" alt="" />
    </div>
    <div class="project">
      <div class="projectText">
        <h4>Pokedex</h4>
        <h5>HTML | CSS | JavaScript | API</h5>
        <p>
          A simple library based on the PokeAPI. Search for pokemons and learn
          more about them.
        </p>
        <div class="buttonContainer">
          <a
            href="https://robin-gerth.developerakademie.net/Pokedex/"
            class="liveTest" target="_blank"
            >Live test</a
          >
          <a href="https://github.com/Gerth123/Pokedex" class="github" target="_blank">Github</a>
        </div>
      </div>
      <img src="../../assets/img/iphone_6s_pokedex.png" alt="Pokedex image"  class="pokedex"/>
    </div>
  </div>
</section>
