section {
    display: flex;
    flex-direction: column;
    height: 120svh; 
    padding-top: 16svh;
    width: 100%;
    background-color: rgb(20,29,47);
    color: white;
    justify-content: flex-start;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 20svh;

    >span {
        font-size: 20px;
        height: 5svh;
        display: flex;
        justify-content: flex-start;
        width: 80%;
        line-height: 1.5;
        align-items: flex-end;
    }
}

.headline {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 80px;
    margin-block: 0;
    font-weight: bold;
}

.lineOne {
    height: 5px;
    width: 220px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #9747FF;
}

.lineTwo {
    height: 5px;
    width: 100%;
    background-color: #9747FF;
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 160svh;
    z-index: 2;
    gap: 50px;
    margin-top: 30px;
}

.project {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row-reverse;

    >img {
        max-width: 500px;
        max-height: 300px;
    }
}

.projectText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
    width: 500px;
    height: 300px;
}

h4 {
    font-size: 40px;
    margin-block: 0;
    font-weight: bold;
    color: #9747FF;
}

h5 {
    font-size: 30px;
    margin-block: 0;
    color: #70E61C;
}

.projectEven {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    >img {
        width: 500px;
        height: 350px;
    }
}

.projectTextEven {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 5px;
    width: 500px;
    height: 300px;

    >p {
        text-align: right;
    }
}

.buttonContainer {
    display: flex;
    gap: 50px;
}

.liveTest {
    background-color: #9747FF;
    color: white;
    width: 165px;
    height: 58px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #70E61C;
    }
}

.github {
    color: white;
    width: 150px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);
    border: #70E61C 2px solid;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #70E61C;
    }
}

.pokedex {
    padding-left: 15%;
}

@media (max-width: 1100px) {
    section {
        height: 210svh;
        align-items: center;
    }

    .heading > span {
        text-align: center;
        width: 90%;
        padding-right: 5%;
    }	

    .projectsContainer {
        padding-top: 50px;
        gap: 50px;
    }

    .project, .projectEven {
        flex-direction: column-reverse;
        align-items: center;
    }

    .projectEven > img {
        margin-bottom: -40px;
    }

    .projectText, .projectTextEven, .projectTextEven > p {
        align-items: center;
        text-align: center;
        max-width: 500px;
    }

    .projectTextEven, .projectText {
        width: 95%;
        padding-left: 2.5%;
    }

    .project > img {
        max-height: 250px;
        padding-bottom: 15px;
    }

    h5 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    img {
        max-height: 300px;
        max-width: 400px;
    }

    .pokedex {
        padding-left: 0;
    }
}

@media (max-width: 700px) {
    .headline {
        width: 85%;
    }

    h2 {
        font-size: 70px;
    }

    .lineOne {
        width: 15vw;
        height: 4px;
    }

    .lineTwo {
        height: 4px;
    }
}

@media (max-width: 600px) {
    .headline > h2 {
        font-size: 60px;
    }
}

@media (max-width: 400px) and (max-height: 850px) {
    section {
        height: 225svh;
    }
}

@media (max-width: 400px) and (max-height: 700px) {
    section {
        height: 290svh;
    }

    .headline > h2 {
        font-size: 50px;
    }

    .heading > span {
        height: unset;
    }

    h5 {
        font-size: 25px;
        width: 95%;
    }

    p {
        font-size: 16px;
        width: 90%;
    }

    .buttonContainer {
        gap: 20px;

        > a {
            width: 130px;
            height: 55px;
            font-size: 16px;
        }
    }

    .projectEven {
        padding-bottom: 40px;
    }
}
