section {
    display: flex;
    flex-direction: column;
    height: 180svh; 
    width: 100%;
    background-color: rgb(20,29,47);
    color: white;
    justify-content: flex-start;
}

.purpleShadowPortfolio {
    position: absolute;
    width: 100vw;
    height: 180svh;
    left: -60%;
    top: 300svh;
    z-index: 1;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 20svh;

    >span {
        font-size: 20px;
        height: 5svh;
        display: flex;
        justify-content: flex-start;
        width: 80%;
        line-height: 1.5;
        align-items: flex-end;
    }
}

.headline {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 80px;
    margin-block: 0;
    font-weight: bold;
}

.lineOne {
    height: 5px;
    width: 220px;
    background-color: #9747FF;
}

.lineTwo {
    height: 5px;
    width: 100%;
    background-color: #9747FF;
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 160svh;
    z-index: 2;
}

.project {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row-reverse;

    >img {
        max-width: 500px;
        max-height: 300px;
    }
}

.projectText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
    width: 500px;
    height: 300px;
}

h4 {
    font-size: 40px;
    margin-block: 0;
    font-weight: bold;
    color: #9747FF;
}

h5 {
    font-size: 30px;
    margin-block: 0;
    color: #70E61C;
}

.projectEven {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    >img {
        width: 500px;
        height: 350px;
    }
}

.projectTextEven {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 5px;
    width: 500px;
    height: 300px;

    >p {
        text-align: right;
    }
}

.buttonContainer {
    display: flex;
    gap: 50px;
}

.liveTest {
    background-color: #9747FF;
    color: white;
    width: 165px;
    height: 58px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #70E61C;
    }
}

.github {
    color: white;
    width: 150px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);
    border: #70E61C 2px solid;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #70E61C;
    }
}

.pokedex {
    padding-left: 15%;
}