section {
  background-color: rgb(20, 29, 47);
  height: 110svh;
  padding-top: 15svh;
  display: flex;
  color: white;
  flex-direction: column;
}

a {
  color: #9747ff;
  z-index: 1;

  &:hover {
    text-decoration: underline #9747ff;
  }
}

.headline {
  display: flex;
  align-items: center;
  width: 55%;
  gap: 20px;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #9747ff;
}

h2 {
  font-size: 80px;
  font-weight: bold;
  margin-block: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.textAndFormContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 65svh;
  z-index: 20;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 500px;
  height: 20svh;
  margin-top: -37svh;
}

h3 {
  font-size: 32px;
  margin-block: 0;
  font-weight: bold;
  letter-spacing: 2px;
}

form {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  width: 650px;
  height: 60svh;
  margin-top: 10svh;

   input,
   textarea {
    width: 600px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    background-color: rgb(20, 29, 47);
    border: 1.5px solid #9747ff;
    caret-color: white;
    z-index: 1;

    &::placeholder {
      color: white; // Farbe des Platzhalters auf Weiß setzen
    }

    &:hover {
      border: 1.5px solid #70e61c; // Rahmenfarbe beim Fokussieren auf Grün setzen
      cursor: pointer;
    }

    &:focus {
      cursor: pointer;
    }

    &:not(:placeholder-shown) {
      color: white;
      background-color: rgb(20,29,47);      
    }
  }

   input {
    height: 42px;
  }

   textarea {
    height: 150px;
    padding-top: 10px;
    resize: none;
  }
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  > img {
    width: 25px;
    height: 25px;
    margin-left: -40px;
    z-index: 50;
  }
}

.textareaContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  > img {
    width: 25px;
    height: 25px;
    margin-left: -40px;
    margin-top: 10px;
    z-index: 50;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  border: 1px solid #70e61c;
  -webkit-box-shadow: 0 0 0px 1000px rgb(20, 29, 47) inset;
}

.inputError {
  border: 1.5px solid red !important;
}

.checkboxChecked {
  border: 1.5px solid #70e61c !important;
}

.errorCheckbox {
  padding-left: 9px;
  margin-top: -10px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 30px;
  font-size: 14px;
}

.checkbox > input {
  margin-right: -35px;
  width: 30px;
  height: 30px;
  z-index: 1;
  opacity: 0;

  &:hover {
    cursor: pointer;

    ~ label {
      cursor: pointer;
      background-color: rgb(46 116 255 / 20%);
      background-size: 100%;
      box-shadow: rgb(46 116 255 / 20%) 0 0 5px 2px;
    }
  }
}

.checkbox > label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1.5px solid #9747ff;	
  background-color: rgb(20, 29, 47);
  border-radius: 3px; /* Ecken abrunden */
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.checkbox > input:checked + label {
  background-color: rgb(20, 29, 47); /* Hintergrundfarbe bei aktivem Zustand */
  border-color: #70e61c; /* Rahmenfarbe bei aktivem Zustand */
}

.checkbox > input:checked + label::before {
  content: '\2714'; /* Unicode für Häkchen */
  color: #70e61c; /* Häkchenfarbe */
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10svh;
}

.sendMessageButton {
  background-color: #70e61c;
  color: white;
  width: 250px;
  height: 58px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;

  &:hover {
    background-color: #9747ff;
    width: 280px;
    height: 73px;
    cursor: pointer;
    animation: margin-top 0.3s ease-in-out forwards;
  }

  &:not(:hover) {
    animation: shrink 0.3s ease-in-out forwards;
  }
}

.sendMessageButtonFalse {
  background-color: grey;
  color: white;
  width: 250px;
  height: 58px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
}

@keyframes margin-top {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 15px;
  }
}

@keyframes shrink {
  0% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0;
  }
}

.error {
  width: 100%;
  margin-top: -12px;

}

.errorMessage {
  color: red;
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.errorInput {
  border: 1.5px solid red !important;
}

.successMessage {
  color: #70e61c;
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.errorMessage {
  color: red;
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.arrowUp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 5svh;
}

.arrowUpImg {
  transition: filter 0.5s forwards;
  &:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(72%) sepia(45%) saturate(680%) hue-rotate(42deg) brightness(96%) contrast(102%);
  }
}
