<section id="contact">
    <div>
        <h3>Got a problem to solve?</h3>
        <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
        <span>Need a Frontend developer?<b>Contact me!</b></span>
        </div>
    <form action="">
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your email">
        <textarea placeholder="Your message"></textarea>
        <input type="checkbox">
        <button type="submit">Send</button>
    </form>
</section>
