<section id="mySkills">
  <div class="skillsContainer">
    <div class="imageContainer">
      <div *ngFor="let skill of skills" class="skill">
        <img src="{{ skill.src }}" alt="{{ skill.alt }}" />
        <p>{{ skill.name }}</p>
      </div>
      <div class="continuallyLearning"   (mouseover)="showSpecialInterest()"
      (mouseout)="hideSpecialInterest()">
        <img *ngIf="isHovered" src="../../assets/icons/special_interest.svg" alt="special_interest" id="special_interest">
        <img src="../../assets/icons/continually_learning.svg" alt="continually learning" 
          [src]="isHovered ? '../../assets/icons/continually_learning_white.svg' : '../../assets/icons/continually_learning.svg'"/>
        <p id="continually" [style.color]="isHovered ? 'white' : '#9747FF'">Continually Learning</p>
      </div>
      
      
    </div>
  </div>
  <div class="textContainer">
    <div class="heading">
      <h2>My skills</h2>
      <div class="line"></div>
    </div>
    <div class="text">
      <p>
        I have gained experience in building projects with different frontend
        technologies and concepts.
      </p>
      <h4>Looking for <span>another skill</span>?</h4>
      <p class="lastP">
        Feel free to contact me. I look forward to expanding on my previous
        knowledge.
      </p>
      <a href="#contact">Get in touch</a>
    </div>
  </div>
</section>
