<section>
  <h2>Allgemeine Geschäftsbedingungen</h2>
  <div>
    <p>
      Bitte lesen Sie diese Allgemeinen Geschäftsbedingungen sorgfältig durch,
      bevor Sie unseren Dienst nutzen.
    </p>

    <h3>1. Auslegung und Definitionen</h3>

    <h4>1.1 Auslegung</h4>
    <p>
      Die Wörter, deren Anfangsbuchstabe großgeschrieben ist, haben die unten
      festgelegte Bedeutung. Diese Definitionen gelten unabhängig davon, ob sie
      im Singular oder Plural erscheinen.
    </p>

    <h4>1.2 Definitionen</h4>
    <p>Für die Zwecke dieser Allgemeinen Geschäftsbedingungen:</p>
    <ul>
      <li>
        <strong>Verbundenes Unternehmen</strong> bezeichnet eine Einrichtung,
        die eine Partei kontrolliert, von ihr kontrolliert wird oder unter
        gemeinsamer Kontrolle mit ihr steht, wobei "Kontrolle" den Besitz von 50
        % oder mehr der Anteile, des Eigenkapitals oder anderer
        stimmberechtigter Wertpapiere zur Wahl von Direktoren oder anderen
        Leitungsorganen bedeutet.
      </li>
      <li>
        <strong>Land</strong> bezieht sich auf: Baden-Württemberg, Deutschland.
      </li>
      <li>
        <strong>Unternehmen</strong> (im Rahmen dieser Vereinbarung als "das
        Unternehmen", "wir", "uns" oder "unser" bezeichnet) bezieht sich auf
        Robin Gerth Portfolio.
      </li>
      <li>
        <strong>Gerät</strong> bezeichnet jedes Gerät, das auf den Service
        zugreifen kann, wie einen Computer, ein Mobiltelefon oder ein digitales
        Tablet.
      </li>
      <li><strong>Service</strong> bezieht sich auf die Website.</li>
      <li>
        <strong>Allgemeine Geschäftsbedingungen</strong> (auch als "Bedingungen"
        bezeichnet) sind diese Allgemeinen Geschäftsbedingungen, die die gesamte
        Vereinbarung zwischen Ihnen und dem Unternehmen bezüglich der Nutzung
        des Service darstellen. Diese Allgemeinen Geschäftsbedingungen wurden
        mit Hilfe des Generator für Allgemeine Geschäftsbedingungen erstellt.
      </li>
      <li>
        <strong>Drittanbieter-Sozialer Medienservice</strong> bezeichnet
        jegliche von einem Drittanbieter bereitgestellten Dienstleistungen oder
        Inhalte (einschließlich Daten, Informationen, Produkte oder
        Dienstleistungen), die durch den Service angezeigt, einbezogen oder
        verfügbar gemacht werden können.
      </li>
      <li>
        <strong>Website</strong> bezieht sich auf Robin Gerth, zugänglich unter
        robin-gerth.de.
      </li>
      <li>
        <strong>Sie</strong> bezeichnet die Person, die auf den Service zugreift
        oder ihn nutzt, oder das Unternehmen oder die andere juristische Person,
        in deren Namen eine solche Person auf den Service zugreift oder ihn
        nutzt, je nachdem, was zutrifft.
      </li>
    </ul>

    <h3>2. Anerkennung</h3>
    <p>
      Diese Allgemeinen Geschäftsbedingungen regeln die Nutzung dieses Service
      und die Vereinbarung zwischen Ihnen und dem Unternehmen. Diese Bedingungen
      legen die Rechte und Pflichten aller Nutzer in Bezug auf die Nutzung des
      Service fest.
    </p>
    <p>
      Ihr Zugang zum Service und dessen Nutzung setzen Ihre Zustimmung zu und
      Einhaltung dieser Allgemeinen Geschäftsbedingungen voraus. Diese
      Bedingungen gelten für alle Besucher, Nutzer und andere Personen, die auf
      den Service zugreifen oder ihn nutzen.
    </p>
    <p>
      Durch den Zugang oder die Nutzung des Service erklären Sie sich mit diesen
      Bedingungen einverstanden. Wenn Sie mit einem Teil dieser Bedingungen
      nicht einverstanden sind, dürfen Sie nicht auf den Service zugreifen.
    </p>
    <p>
      Sie erklären, dass Sie älter als 18 Jahre sind. Das Unternehmen gestattet
      Personen unter 18 Jahren nicht, den Service zu nutzen.
    </p>
    <p>
      Ihr Zugang zum Service und dessen Nutzung setzen auch Ihre Zustimmung zu
      und Einhaltung der Datenschutzrichtlinie des Unternehmens voraus. Unsere
      Datenschutzrichtlinie beschreibt unsere Richtlinien und Verfahren zur
      Erfassung, Nutzung und Offenlegung Ihrer persönlichen Daten, wenn Sie die
      Anwendung oder die Website nutzen, und informiert Sie über Ihre
      Datenschutzrechte und darüber, wie das Gesetz Sie schützt. Bitte lesen Sie
      unsere Datenschutzrichtlinie sorgfältig, bevor Sie unseren Service nutzen.
    </p>

    <h3>3. Links zu anderen Websites</h3>
    <p>
      Unser Service kann Links zu Websites oder Diensten Dritter enthalten, die
      nicht im Besitz oder unter der Kontrolle des Unternehmens stehen.
    </p>
    <p>
      Das Unternehmen hat keine Kontrolle über und übernimmt keine Verantwortung
      für Inhalte, Datenschutzrichtlinien oder Praktiken von Websites oder
      Diensten Dritter. Sie erkennen weiter an und erklären sich damit
      einverstanden, dass das Unternehmen nicht für Schäden oder Verluste
      verantwortlich oder haftbar ist, die durch die Nutzung oder das Vertrauen
      auf solche Inhalte, Waren oder Dienstleistungen verursacht werden oder
      angeblich verursacht werden, die auf oder über solche Websites oder
      Dienste verfügbar sind.
    </p>
    <p>
      Wir empfehlen Ihnen dringend, die Geschäftsbedingungen und
      Datenschutzrichtlinien der von Ihnen besuchten Websites oder Dienste
      Dritter zu lesen.
    </p>

    <h3>4. Beendigung</h3>
    <p>
      Wir können Ihren Zugang sofort, ohne vorherige Ankündigung oder Haftung,
      aus irgendeinem Grund, einschließlich, aber nicht beschränkt auf, wenn Sie
      gegen diese Bedingungen verstoßen, kündigen oder aussetzen.
    </p>
    <p>Nach der Kündigung erlischt Ihr Recht zur Nutzung des Service sofort.</p>

    <h3>5. Haftungsbeschränkung</h3>
    <p>
      Ungeachtet etwaiger Schäden, die Sie möglicherweise erleiden, ist die
      gesamte Haftung des Unternehmens und seiner Lieferanten unter einer
      beliebigen Bestimmung dieser Bedingungen und Ihr ausschließlicher
      Rechtsbehelf für all das oben Genannte auf den Betrag begrenzt, den Sie
      tatsächlich durch den Service bezahlt haben, oder auf 100 USD, falls Sie
      nichts durch den Service gekauft haben.
    </p>
    <p>
      Im größtmöglichen Umfang, der nach geltendem Recht zulässig ist, haften
      weder das Unternehmen noch seine Lieferanten für besondere, zufällige,
      indirekte oder Folgeschäden jeglicher Art (einschließlich, aber nicht
      beschränkt auf, entgangene Gewinne, Datenverluste oder andere
      Informationen, Geschäftsunterbrechungen, Personenschäden, Verlust der
      Privatsphäre, die sich aus oder in irgendeiner Weise im Zusammenhang mit
      der Nutzung oder der Unfähigkeit zur Nutzung des Service,
      Drittanbietersoftware und/oder Drittanbieterhardware ergeben, die mit dem
      Service verwendet werden, oder anderweitig in Verbindung mit einer
      Bestimmung dieser Bedingungen), selbst wenn das Unternehmen oder ein
      Lieferant über die Möglichkeit solcher Schäden informiert wurde und selbst
      wenn der Rechtsbehelf seinen wesentlichen Zweck verfehlt.
    </p>
    <p>
      In einigen Staaten ist der Ausschluss stillschweigender Garantien oder die
      Beschränkung der Haftung für zufällige oder Folgeschäden nicht zulässig,
      was bedeutet, dass einige der oben genannten Einschränkungen
      möglicherweise nicht gelten. In diesen Staaten wird die Haftung jeder
      Partei auf das nach geltendem Recht zulässige Maximum beschränkt.
    </p>

    <h3>6. "WIE BESEHEN" und "WIE VERFÜGBAR" Haftungsausschluss</h3>
    <p>
      Der Service wird Ihnen "WIE BESEHEN" und "WIE VERFÜGBAR" mit allen Fehlern
      und Mängeln ohne jegliche Garantie bereitgestellt. Soweit gesetzlich
      zulässig, lehnt das Unternehmen im eigenen Namen und im Namen seiner
      verbundenen Unternehmen sowie seiner und ihrer jeweiligen Lizenzgeber und
      Dienstleister ausdrücklich alle ausdrücklichen, stillschweigenden,
      gesetzlichen oder sonstigen Gewährleistungen in Bezug auf den Service ab,
      einschließlich aller stillschweigenden Gewährleistungen der
      Marktgängigkeit, Eignung für einen bestimmten Zweck, des Eigentums und der
      Nichtverletzung sowie Gewährleistungen, die sich aus dem Handelsverkehr,
      der Leistungserbringung, der Nutzung oder der Handelsgewohnheit ergeben.
      Ohne Einschränkung des Vorstehenden übernimmt das Unternehmen keine
      Garantie oder Zusicherung, dass der Service Ihre Anforderungen erfüllt,
      beabsichtigte Ergebnisse erzielt, mit anderer Software, Anwendungen,
      Systemen oder Diensten kompatibel oder funktionsfähig ist, ohne
      Unterbrechung betrieben wird, Leistung oder Zuverlässigkeitsstandards
      erfüllt oder fehlerfrei ist oder dass Fehler oder Mängel behoben werden
      können oder behoben werden.
    </p>
    <p>
      Ohne das Vorstehende einzuschränken, übernimmt weder das Unternehmen noch
      ein Anbieter des Unternehmens eine ausdrückliche oder stillschweigende
      Garantie oder Zusicherung hinsichtlich: (i) des Betriebs oder der
      Verfügbarkeit des Service oder der Informationen, Inhalte und Materialien
      oder Produkte, die darin enthalten sind; (ii) dass der Service
      ununterbrochen oder fehlerfrei sein wird; (iii) der Genauigkeit,
      Zuverlässigkeit oder Aktualität von Informationen oder Inhalten, die über
      den Service bereitgestellt werden; oder (iv) dass der Service, seine
      Server, die Inhalte oder E-Mails, die von oder im Namen des Unternehmens
      gesendet werden, frei von Viren, Skripten, Trojanern, Würmern, Malware,
      Zeitbomben oder anderen schädlichen Komponenten sind.
    </p>
    <p>
      Einige Gerichtsbarkeiten erlauben nicht den Ausschluss bestimmter Arten
      von Garantien oder Einschränkungen der anwendbaren gesetzlichen Rechte
      eines Verbrauchers, sodass einige oder alle der oben genannten Ausschlüsse
      und Einschränkungen möglicherweise nicht auf Sie zutreffen. In einem
      solchen Fall gelten jedoch die in diesen Allgemeinen Geschäftsbedingungen
      festgelegten Ausschlüsse und Einschränkungen im größtmöglichen Umfang, der
      nach geltendem Recht durchsetzbar ist.
    </p>
    <h3>7. Anwendbares Recht</h3>
    <p>
      Die Gesetze des Landes, mit Ausnahme der Vorschriften zum internationalen
      Privatrecht, gelten für diese Bedingungen und Ihre Nutzung des Dienstes.
      Ihre Nutzung der Anwendung kann auch anderen lokalen, staatlichen,
      nationalen oder internationalen Gesetzen unterliegen.
    </p>
    <h3>8. Streitbeilegung</h3>
    <p>
      Wenn Sie Bedenken oder Streitigkeiten bezüglich des Dienstes haben,
      stimmen Sie zu, zunächst zu versuchen, die Streitigkeit informell zu
      lösen, indem Sie das Unternehmen kontaktieren.
    </p>
    <h3>9. Für Nutzer der Europäischen Union (EU)</h3>
    <p>
      Wenn Sie ein Verbraucher der Europäischen Union sind, profitieren Sie von
      allen zwingenden Bestimmungen des Rechts des Landes, in dem Sie wohnhaft
      sind.
    </p>
    <h3>10. Einhaltung der Gesetze der Vereinigten Staaten</h3>
    <p>
      Sie erklären und garantieren, dass (i) Sie sich nicht in einem Land
      befinden, das von der US-Regierung einem Embargo unterliegt oder das von
      der US-Regierung als „terroristisch unterstützend“ eingestuft wurde, und
      (ii) Sie nicht auf einer Liste verbotener oder eingeschränkter Parteien
      der US-Regierung aufgeführt sind.
    </p>
    <h3>11. Salvatorische Klausel und Verzicht</h3>
    <h4>11.1 Salvatorische Klausel</h4>
    <p>
      Sollte eine Bestimmung dieser Bedingungen als nicht durchsetzbar oder
      ungültig erachtet werden, wird diese Bestimmung so geändert und ausgelegt,
      dass die Ziele dieser Bestimmung unter dem geltenden Recht soweit wie
      möglich erreicht werden, und die übrigen Bestimmungen bleiben in vollem
      Umfang in Kraft.
    </p>
    <h4>11.2 Verzicht</h4>
    <p>
      Sofern hierin nicht anders vorgesehen, hat die Nichtausübung eines Rechts
      oder die Nichtforderung der Erfüllung einer Verpflichtung aus diesen
      Bedingungen keinen Einfluss auf die Fähigkeit einer Partei, dieses Recht
      jederzeit danach auszuüben oder diese Erfüllung zu verlangen, noch stellt
      der Verzicht auf einen Verstoß einen Verzicht auf einen späteren Verstoß
      dar.
    </p>
    <h3>12. Übersetzung und Auslegung</h3>
    <p>
      Diese Allgemeinen Geschäftsbedingungen können übersetzt worden sein, wenn
      wir sie Ihnen auf unserem Dienst zur Verfügung gestellt haben. Sie stimmen
      zu, dass der ursprüngliche englische Text im Falle eines Streits Vorrang
      hat.
    </p>
    <h3>13. Änderungen dieser Allgemeinen Geschäftsbedingungen</h3>
    <p>
      Wir behalten uns das Recht vor, nach unserem alleinigen Ermessen diese
      Bedingungen jederzeit zu ändern oder zu ersetzen. Wenn eine Änderung
      erheblich ist, werden wir angemessene Anstrengungen unternehmen, um
      mindestens 30 Tage im Voraus über neue Bedingungen zu informieren, die in
      Kraft treten. Was eine wesentliche Änderung darstellt, wird nach unserem
      alleinigen Ermessen bestimmt.
    </p>
    <p>
      Indem Sie nach Inkrafttreten dieser Änderungen weiterhin auf unseren
      Dienst zugreifen oder ihn nutzen, stimmen Sie den geänderten Bedingungen
      zu. Wenn Sie den neuen Bedingungen, ganz oder teilweise, nicht zustimmen,
      sollten Sie die Nutzung der Website und des Dienstes einstellen.
    </p>
    <h3>14. Kontaktieren Sie uns</h3>
    <p>
      Wenn Sie Fragen zu diesen Allgemeinen Geschäftsbedingungen haben, können
      Sie uns kontaktieren:
    </p>
    <p><strong>Zuletzt aktualisiert:</strong> 01. September 2024</p>
    <p>
      <strong>Per E-Mail:</strong>
      <a href="mailto:robingerth21@gmail.com">robingerth21&#64;gmail.com</a>
    </p>
    <p>
      <span class="visitingPageContainer">
        <span class="visitingPage">
          <strong>Indem Sie diese Seite besuchen </strong>
        </span>
        <strong>auf unserer Website:</strong>
      </span>
      <a href="https://robin-gerth.de/#contact" class="linkPage"
        >robin-gerth.de/#contact</a
      >
    </p>
    <p>
      <strong>Per Post:</strong> Hebelweg 63, <br />
      79713 Bad Säckingen, <br />
      Deutschland
    </p>
  </div>
</section>
