section {
  display: flex;
  flex-direction: column;
  height: 110svh;
  padding-top: 10svh;
  position: relative;
  background-color: rgb(20, 29, 47);
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  color: white;
  width: 100%;
}

a {
  color: white;
  display: flex;
  align-items: center;
}

.background {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: -600px;
  z-index: 6;
}

.imgAndTextContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -70px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 705px;
  width: 646px;
  z-index: 2;
  position: relative;
}

.lilaAndGreen {
  z-index: 1;
  margin-top: 100px;
}

.profilePicture {
  position: absolute;
  z-index: 2;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  margin-top: 170px;
  z-index: 10;
  margin-left: -150px;
}

.rotateAndStatsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  display: inline-block;
  transform: rotate(270deg);
  font-size: 55.5px;
  margin-top: -4.4px;
  margin-right: -25px;
  display: flex;
  align-items: center;
  height: 50px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 80px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  height: 9svh;
}

.role {
  font-size: 44px;
  display: flex;
  align-items: center;
  position: relative;
  height: 7svh;
  color: #9747ff;
}

.contact {
  background-color: #70e61c;
  width: 165px;
  height: 58px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  transition: background-color 0.4s ease, transform 0.4s ease;
  transform-origin: top;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #9747ff;
    transform: scale(1.2);
  }
}

.contactStats {
  display: flex;
  z-index: 7 !important;
  justify-content: space-between;
  width: 100%;
  padding-top: 120px;
}

.iconsAndEmailContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.line {
  position: absolute;
  left: 0;
  width: 120px;
  height: 3px;
  background-color: rgb(151, 71, 255);
}

.icons {
  margin-left: 150px;
  display: flex;
  gap: 20px;
  align-items: center;

  > a {
    color: white;
    text-decoration: none;
    font-size: 23px;

    > img {
      height: 30px;
      width: 30px;

      &:hover {
        transform: scale(1.4);
      }
    }
  }
}

.email {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.scroll {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  rotate: 90deg;
  margin-top: -120px;
}

.arrow {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

@media (min-height: 1100px) {
  .background {
    margin-top: -800px;
  }
}

@media (min-height: 1300px) {
  .background {
    margin-top: -880px;
  }
}

@media (max-width: 1450px) {
  .background {
    margin-top: -550px;
  }
}

@media (max-width: 1300px) and (max-height: 850px) {
  .background {
    margin-top: -550px;
  }

  .contactStats {
    padding-top: 50px;
  }
}

@media (max-width: 1100px) {
  .imgAndTextContainer {
    flex-direction: column;
    align-items: center;
  }

  .background {
    margin-top: -600px;
  }

  .textContainer {
    margin-top: -100px;
    margin-left: 0;
    gap: 10px;
  }

  .scroll {
    display: none;
  }

  .email {
    display: none;
  }

  .iconsAndEmailContainer {
    width: 100%;
  } 

  .line {
    width: 300px;
  }

  .icons {
    margin-left: 35vw;
    width: 30vw;
    justify-content: space-evenly;
  }
}

@media (max-width: 1100px) and (max-height: 1400px) {
  .textContainer {
    margin-top: -50px;
  }

  .name {
    height: 80px;
  }

  .role {
    height: 60px;
  }

  .background {
    margin-top: -750px;
  }
}

@media (max-width: 950px) {
  .imgContainer {
    > img:nth-child(1) {
      width: 600px;
      height: auto;
    }

    > img:nth-child(2) {
      width: 450px;
      height: auto;
      margin-top: 100px;
    }
  }

  .background {
    margin-top: -560px;
  }

  .textContainer {
    margin-top: -190px;
  }

  .rotate {
    font-size: 42px;
    margin-top: 2px;
    margin-right: -20px;
  }

  .stats {
    gap: 10px;
  }

  .name {
    font-size: 60px;
    height: 60px;
  }

  .role {
    font-size: 33px;
    height: 33px;
  }

  .contact {
    font-size: 18px;
    width: 140px;
    height: 55px;
  }

  .line {
    width: 200px;
  }
}

@media (max-width: 500px) and (max-height: 1000px) {
  section {
    padding-top: 0;
    height: 92svh;
  }
  
  .background {
    margin-top: -450px;
  }

  .textContainer {
    margin-top: -150px;
  }

  .name {
    font-size: 50px;
    height: 50px;
  }

  .role {
    font-size: 28px;
    height: 28px;
  }

  .rotate {
    font-size: 36px;
    margin-top: 2px;
    margin-right: -18px;
  }

  .line {
    width: 80px;
  }
}

@media (max-width: 500px) and (max-height: 900px) {
  .section {
    height: 95svh;
  }

  .background {
    margin-top: -450px;
  }
}

@media (max-width: 400px) and (max-height: 900px) {
  .background {
    margin-top: -400px;
  }
}

@media (max-width: 400px) and (max-height: 800px) {
  section {
    height: 110svh;
  }

  .background {
    margin-top: -330px;
  }

  .textContainer {
    margin-left: -30px;
  }
  
  .name {
    font-size: 40px;
    height: 40px;
  }

  .role {
    font-size: 22px;
    height: 22px;
  }

  .rotate {
    font-size: 30px;
    margin-top: 2px;
    margin-right: -14px;
  }

  .contact {
    font-size: 14px;
    width: 120px;
    height: 45px;
  }
}