<img src="../../../assets/img/purple_shadow_footer.svg" alt="Purple shadow" class="purpleShadow">
<footer>
<div>
    <a href="header"><h2>Robin</h2></a>
    <a href="#">Impressum</a>
</div>
<div>
    <p>&copy; Robin Gerth 2024</p>
</div>
<div class="icons">
    <a href="https://github.com/Gerth123" target="_blank">
        <img src="../../../assets/icons/github_button.svg" alt="Github">
    </a>
    <a href="mailto:robingerth21@gmail.com" >
        <img src="../../../assets/icons/email_button.svg" alt="Email">
    </a>
    <a href="https:/linkedin.com/in/robin-gerth-47100031b/?originalSubdomain=de" target="_blank">
        <img src="../../../assets/icons/linkedin_button.svg" alt="Linkedin">
    </a>
</div>
</footer>
