<footer class="site-footer">
  <div class="container-xxl">
    <div class="row align-items-center gy-4">
      <div class="col-md-4 text-center text-md-start">
        <a [routerLink]="languageService.link()" [fragment]="'landingPage'" aria-label="Robin Gerth home">
          <img
            src="../../../assets/logo/robin_semicolon.png"
            alt="Robin Gerth"
            class="logo"
          />
        </a>
        <a
          class="legal-link d-none d-md-inline-flex"
          [routerLink]="languageService.link('legal-notice')"
          (click)="scrollToTop()"
        >
          Impressum
        </a>
      </div>

      <div class="col-md-4 text-center">
        <p class="copyright mb-0">&copy; Robin Gerth 2026</p>
      </div>

      <div class="col-md-4">
        <div class="icons d-flex justify-content-center justify-content-md-end gap-4">
          <a href="https://github.com/Gerth123" target="_blank" rel="noreferrer" aria-label="Github">
            <img src="../../../assets/icons/github_button.svg" alt="" />
          </a>
          <a href="mailto:kontakt@robin-gerth.de" aria-label="Email">
            <img src="../../../assets/icons/email_button.svg" alt="" />
          </a>
          <a
            href="https://linkedin.com/in/robin-gerth-47100031b/"
            target="_blank"
            rel="noreferrer"
            aria-label="LinkedIn"
          >
            <img src="../../../assets/icons/linkedin_button.svg" alt="" />
          </a>
        </div>
      </div>

      <div class="col-12 text-center d-md-none">
        <a class="legal-link" [routerLink]="languageService.link('legal-notice')" (click)="scrollToTop()">Impressum</a>
      </div>
    </div>
  </div>
</footer>
