footer {
  width: 100%;
  position: relative;
  z-index: 999;
  border-top: 4px solid #70e61c;
  background-color: rgb(20, 29, 47);
  color: white;
  height: 20svh;
  min-height: 291px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

h2 {
  font-size: 50px;
  margin-block-start: 0;
  margin-block-end: 0.15em;
  text-align: start;
}

p {
  font-size: 23px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}

.icons {
  display: flex;
  gap: 50px;
  padding-right: 50px;

  > a :hover {
    transform: scale(1.5);
    transform-origin: left top; /* Icons wachsen nach rechts */
    transition: transform 0.2s ease;
  }
}

.logoAndLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.logo {
  height: 75px;
  margin-left: -7px;
  margin-bottom: -16px;
}

.impressum {
  &:hover {
    background-image: linear-gradient(to right, #70e61c 62%, transparent 38%);
    background-position: 0 100%; /* Linie unten */
    background-size: 100% 2px; /* Breite und Höhe der Linie */
    background-repeat: no-repeat;
  }
}

.impressumResponsive {
  display: none;
}

@media (max-width: 730px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    height: 35svh;
  }

  .logoAndLink {
    padding-bottom: 10px;
  }

  .logo {
    margin-bottom: 0;
    margin-left: 0;
    height: 80px;
  }

  .impressum {
    display: none;
  }

  .copyright {
    > p {
      margin-block: 0;
      font-size: 25px;
    }
  }

  .icons {
    padding: 0;

    > a {
      display: flex;
      align-items: center;
    }
  }

  .impressumResponsive {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
}
