<footer>
  <div class="logoAndLink">
    <a href="#landingPage"
      ><img
        src="../../../assets/logo/robin_semicolon.png"
        alt="Logo"
        class="logo"
    /></a>
    <a href="/legal-notice" class="impressum">Impressum</a>
  </div>
  <div class="copyright">
    <p>&copy; Robin Gerth 2024</p>
  </div>
  <div class="icons">
    <a href="https://github.com/Gerth123" target="_blank">
      <img src="../../../assets/icons/github_button.svg" alt="Github" />
    </a>
    <a href="mailto:robingerth21@gmail.com">
      <img src="../../../assets/icons/email_button.svg" alt="Email" />
    </a>
    <a
      href="https:/linkedin.com/in/robin-gerth-47100031b/?originalSubdomain=de"
      target="_blank"
    >
      <img src="../../../assets/icons/linkedin_button.svg" alt="Linkedin" />
    </a>
  </div>
  <div><a href="/legal-notice" class="impressumResponsive">Impressum</a></div>
</footer>
